<style>
body{
  background: rgb(255, 255, 255);
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;  
}
label{
  cursor: pointer;
  display: inline-block;
  padding: 3px 6px;
  text-align: left;
  width: 75px;
  vertical-align: top;
}
ul {
  position: fixed;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: -8px;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
}
li {
  float: left;
  border-right: 1px solid rgb(0, 0, 0)
}
li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
li:last-child {
  border-right: none;
  float: right;
}
.active {
  background-color: rgb(0, 0, 0);
  color:rgb(255, 255, 255);
}
.button{
  border: none;
  color: rgb(0, 0, 0);
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(0, 0, 0);
  transition-duration: 0.4s;
  width: 80px;
  margin-left: 60px;
}
.button:hover {
  background-color: rgb(0, 0, 0); /* Green */
  color: white;
}
</style>

<ul>
<li><a href="/homepage">Home</a></li>
<li><a class="active" href="/login">Login</a></li>
<li><a href="/register">Register</a></li>
</ul>
<br>
<h1 style = "text-align: center">Sign In</h2>
	<div class = "label">
	<div class = "center">
	<form action="/login" method="POST">
		<div class = "login">
			<label for="username">Username</label>
			<input type="text" name="username" id="username" value="<%= locals.username || '' %>" class="form-control" />
		</div>
		<div class = "password">
			<label for="password">Password</label>
			<input type="password" name="password" id="password" class="form-control" />
		</div>
		<br>
		<div class ="button">Login</div>
	</form>
	</div>
	</div>

