<style>
	.center {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
label{
  cursor: pointer;
  display: inline-block;
  padding: 3px 6px;
  text-align: left;
  width: 75px;
  vertical-align: top;
}
</style>

<h1 style = "text-align: center">login</h2>
	<div class = "label">
	<div class = "center">
	<form action="/login" method="POST">
		<div class = "login">
			<label for="username">Username</label>
			<input type="text" name="username" id="username" value="<%= locals.username || '' %>" class="form-control" />
		</div>
		<div class = "password">
			<label for="password">Password</label>
			<input type="password" name="password" id="password" class="form-control" />
		</div>
		<button type="submit" class="btn btn-primary" style = "margin-left: 96px;">Login</button>
	</form>
	</div>
	</div>
<li style = "text-align: center"><a href="/register">Register</a></li>
