<h1> Sign up form </h1>

<form action="/register" method="POST">
	<label for="firstName">First name</label>
	<input type="text" name="firstName" id="firstName" class="form-control" value="<%= locals.firstName || '' %>" required />
	<label for="lastName">Last name</label>
	<input type="text" name="lastName" id="lastName" class="form-control" value="<%= locals.lastName || '' %>" required />
	<label for="username">Username</label>
	<input type="text" name="username" id="username" class="form-control" value="<%= locals.username || '' %>" required />
	<label for="password">Password</label>
	<input type="password" name="password" id="password" class="form-control" required />
	<button type="submit" class="btn btn-primary">Register</button>
</form>
<li><a href="/login">Login</a></li>
