<!DOCTYPE html>
<html>
    <h1 style = "text-align: center">  Create Account </h1>
    
    <form action="/register" method="POST"> 
        <!-- Removed first and last name requirement
      <label for="firstName">First name:</label>
        <input type="text" name="firstName" id="firstName" class="form-control" value="<%= locals.firstName || '' %>" required /> <br>
        <label for="lastName">Last name:</label>
        <input type="text" name="lastName" id="lastName" class="form-control" value="<%= locals.lastName || '' %>" required /> <br> -->
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" class="form-control" value="" required /> <br>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" class="form-control" required /> <br>
        <label for="level">Authority Level:</label>
        <select name="level" id="level">
            <option value="" selected="selected"></option>
        </select>
        <br>
        <button class = "button">Create</button>
    </form>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
      <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
      <script>
        //Added a username dropdown menu to the page
        $(document).ready(function() {    
            document.getElementById('level').options[document.getElementById('level').options.length] = new Option("admin");
            document.getElementById('level').options[document.getElementById('level').options.length] = new Option("user");
        });
      </script>
    </div>
    </div>

</html>
